@use "@vaadin/vaadin-lumo-styles" as lumo;

:host {
  --lumo-base-color: #FAFAFA;
  --lumo-primary-color: #1E90FF;
  --lumo-primary-text-color: #ffffff;
  --lumo-body-text-color: #333333;
  --lumo-header-background-color: #1E90FF;
  --lumo-border-radius: var(--lumo-border-radius-m);
}

/* Ensure buttons, links, focus rings, etc. use our palette */
[theme~="glamme"] vaadin-button {
  background-color: var(--lumo-primary-color);
  color: var(--lumo-primary-text-color);
}